.header{
    height: 90px;
    width: 1440px;
    flex-direction: column  ;
    border-bottom: 1px solid #EDEDED;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    align-items: center;
}
.titulo1{
    color: #008ECC;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.box2{
    border-radius: 10px;
    width: 600px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    padding-left: 6rem;
}




